# This is not really a .desktop file like the rest, but it's useful to treat
# it as such

[GdmGreeterTheme]
Encoding=UTF-8
Greeter=cernvm.xml
Name=CernVM
Description=CernVM theme
Author=Buncic, Predrag
Copyright=(c) 2009 CERN
Screenshot=screenshot.png
