
[Desktop Entry]
Version=1.0
Type=Application
Name=CernVM
Comment=CernVM Appliance Administration
Icon=gdm-setup
Exec=firefox http://localhost:8004
Path=
Terminal=false
StartupNotify=false
