
[Desktop Entry]
Version=1.0
Type=Application
Name=ROOT
Comment=http://root.cern.ch
Icon=/usr/share/icons/root6.png
Exec=sh -c 'module load ROOT && root'
Path=
Terminal=true
StartupNotification=false
