[Entry 0]
Name=Application Finder
Comment=Find and launch applications installed on your system
Icon=xfce4-appfinder
Exec=xfce4-appfinder
Terminal=false
StartupNotify=true

[Global]
MoveFirst=false
ArrowPosition=0

