
[Desktop Entry]
Encoding=UTF-8
Name=Geany
Comment=Simple IDE
Exec=geany %f
Icon=text-editor
Terminal=false
Type=Application
MimeType=text/plain;
Categories=GTK;Utility;TextEditor;
StartupNotify=true
GenericName=Text Editor
X-Desktop-File-Install-Version=0.15
X-XFCE-Source=file:///usr/share/applications/fedora-geany.desktop
